# Emacs backup files
*~
\#*\#
# Emacs backups of hidden files, like ".gitignore.~3~"
.*.~*~
.\#*

# RStudio/R GUI
.Rbuildignore
.RData
.Rhistory
.Rproj.user
*.Rproj

# Vignettes
vignettes/*.bbl
vignettes/*.log
vignettes/*.md
vignettes/*.pdf
vignettes/*.synctex.gz
vignettes/*.tex

