import(grid)
import(lattice)
import(reshape2)
export(desplot)
export(RedGrayBlue)
export(vc)
S3method(print, vc.asreml)
S3method(print, vc.lme)
S3method(print, vc.lmerMod)
S3method(vc, asreml)
S3method(vc, default)
S3method(vc, lme)
S3method(vc, lmerMod)
